PORT = 5000
MONGODB_URI=your_database_uri
CORS_ORIGIN=origin
ACCESS_TOKEN_SECRET=your_secret
ACCESS_TOKEN_EXPIRY=your_expiry
REFRESH_TOKEN_SECRET=your_secre=t
REFRESH_TOKEN_EXPIRY=your_expiry=
CLOUDINARY_CLOUD_NAME=your_cloudinary_
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret